
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Successful</title>
    <script>
        let choice = confirm("Thanks for your order!!! \n Go back to homepage?");
        if (choice == true) {
            window.location = "/Home/index";
        } else {
        }
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
